@font-face {
    font-family: simpsonfont;
    src: url(../../assets/simpsonfont/Simpsonfont.ttf);
}

.cardFooter {   
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: simpsonfont;
    font-size: 15px;
    border-radius: 0;
}

.card-body {
    background-color: #f4de31;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-header {
    background-color: #D6BE00;
    padding: 0.5rem 1.5rem;
    padding-bottom: 5px;
    border-bottom: 0;
}

.donut {
    width: 25px;
    margin-left: 10px
}